.button-number{
    background-color: #7a7ce6;
    text-align: center;
    justify-content: center;
    font-size: 30px;display: flex;
    align-items: center;
    font-family: 'Space Mono', monospace;
}

.button-number:hover{
    cursor: pointer;
}

#b-point{
    grid-column: 2/3;
    grid-row: 5/6;
    font-weight: bold;
}
#n0{
    grid-column: 1/2;
    grid-row: 5/6;
}
#n1{
    grid-column: 1/2 ;
    grid-row: 4/5;
}
#n2{
    grid-column: 2/3 ;
    grid-row: 4/5;
}
#n3{
    grid-column: 3/4 ;
    grid-row: 4/5;
}
#n4{
    grid-column: 1/2 ;
    grid-row: 3/4;
}
#n5{
    grid-column: 2/3 ;
    grid-row: 3/4;
}
#n6{
    grid-column: 3/4 ;
    grid-row: 3/4;
}
#n7{
    grid-column: 1/2 ;
    grid-row: 2/3;
}
#n8{
    grid-column: 2/3 ;
    grid-row: 2/3;
}
#n9{
    grid-column: 3/4 ;
    grid-row: 2/3;
}